<% if params[:controller] == "about" %>
	<div calss= "well">
		<ul>
			<h3>location us</h3>
			<li>contry:iran </li>
			<li>address: kurdestan, sanandaj</li>
			<li>phone: 0981234567</li>
			<li>email: asdasdas@adsd.dfdf</li>
		</ul>
	</div>
<% end %>