<h2>publisher</h2>
<table class= "table table-striped">
    <tr>
        <th>publisher</th>
        <th>action</th>
    </tr>
    <% @publishers.each do |publisher| %>
      <tr>
        <td><%= publisher.name %></td>
        <td><%= link_to 'Edit', edit_publisher_path(publisher.id)%> | <%= link_to 'Delete',
         author_path(publisher),method: :delete,data:{confirm:'Are you sure?'} %></td>        
      </tr>
    <% end %>
</table>