<div id ="books-show">
	<h2>ruby on rails power</h2>
	<div class="books-show-left">
		<%= image_tag('covers/2.jpg')%>
	</div>
	<div class="books-show-right">
		<h3>books info:</h3>
		<ul>
			<li><strong>category: </strong></li>
			<li><strong>author: </strong></li>
			<li><strong>publisher: </strong></li>
			<li><strong>year: </strong></li>
			<li><strong>isbn: </strong></li>
			<li><strong>format: </strong></li>
			<li><strong>pages: </strong></li>
			<li><strong></strong></li>
			<li><strong></strong></li>
			<%= link_to 'buy for $' , "https://www.google.com" , class: 'btn btn-success',target:'_blank' %>
		</ul>
	</div>
	<div class="clearfix"></div>
	<h4>excerpt</h4>
	<p>
		asdasdas asd asd sd sdsdsd f gfg fgfg fgfrterererer fvvfgfg dfgerer gjhjhj hjhj
	</p>
</div>